:root {
  padding: 0;
  margin: 0;
}
.main {
  height: 100px;
  width: 100vh;
  background-image: url("./images/f89e2fd5-90ab-43f4-8379-51cd6dfcb503.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% ;
 
}
.profile-image {
  padding-top: 40px;
  padding-left: 80px;
}
.ai-girl {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 5px solid white;
  z-index: 5;
}

.main-2 {
    padding-top: 100px;
    padding-left: 120px;
    /* width: 100vh; */
}

.input{
  width: 400px;
  padding: 10px;
  text-align: center;
}

.project_description{
  width: 400px;
  height: 100px;
  border: 2px solid black;
  text-align: center;
}